{% extends "homebase.html" %}

{% block title %} {{ hotel.title }} {% endblock %}
{% block keywords %} {{ hotel.keywords }}{% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
	<section>
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				 	 <li><a href="/">Home</a></li>
				  	 <li class="active">Contact</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="row">
	    		<div class="col-sm-8">
	    			<div class="login-form">
	    				<h2 class="title text-center">Contact Form</h2>
						{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{message.tags}}" role="alert">
								{{message}}
							</div>
						{% endfor %}
						{% endif %}

						<form action="" method="post">
							{% csrf_token %}
							{{form.as_p}}
							<input type="submit" value="SEND FORM">
						</form>

	    				<div class="status alert alert-success" style="display: none"></div>
				    	</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Contact Info</h2>
	    				<address>
	    					<p>E-Hotel Inc.</p>
							<p>100.Yıl Mahallesi Karabük Üniversitesi</p>
							<p>Karabük, TÜRKİYE</p>
							<p>Mobile: +90 167 738 93</p>
							<p>Fax: +90 167 738 94</p>
							<p>Email: info@ehotel.com</p>
	    				</address>
	    				<div class="social-networks">
	    					<h2 class="title text-center">Social Network</h2>
							<ul>
								<li>
									<a href="https://tr-tr.facebook.com/otelzcom"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://twitter.com/otelzcom?lang=en"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://www.instagram.com/otelzcom/?hl=en"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
	    				</div>
	    			</div>
    			</div>
	    	</div>

			</div>
		</div>
	</section>


    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>

{% endblock %}
