{% load static %}
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" ><!--category-productsr-->

							{% load mptt_tags %}
							{% recursetree category %}
							<div class="panel panel-default">

								<div class="panel-heading">
									<h4 class="panel-title"><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></h4>
								</div>

							</div>
							{% endrecursetree %}

							</div><!--/category-products-->

					</div>
				</div>

				<div class="col-sm-10 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Hotels</h2>
						{% for rs in featureshotel %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{rs.image.url}}" style="height:370px;width:300px"alt="" />
											<h2>{{rs.gunluk_fiyat}} TL</h2>
											<p>{{ rs.title}}</p>
											<a href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Rezervasyon Yap</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>{{rs.gunluk_fiyat}} TL</h2>
												<p>{{ rs.title}}</p>
												<a href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Rezervasyon Yap</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">

									</ul>
								</div>
							</div>
						</div>
						{% endfor %}

						
					</div><!--features_items-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended hotels</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{% for rs in recommendedhotels %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{rs.image.url}}" alt="" style="height:350px" />
													<h2>{{rs.gunluk_fiyat}}</h2>
													<p>{{rs.title}}</p>
													<a href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Rezervasyon Yap</a>
												</div>
												
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="item">
									{% for rs in recommendedhotels %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{rs.image.url}}" alt="" style="height:350px" />
													<h2>{{rs.gunluk_fiyat}}</h2>
													<p>{{rs.title}}</p>
													<a href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Rezervasyon Yap</a>
												</div>
												
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
