{% extends "homebase.html" %}

{% block title %} {{ hotel.title }} {% endblock %}
{% block keywords %} {{ hotel.keywords }}{% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
	<section>
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				 	 <li><a href="/">Home</a></li>
					<li><a href="/category/{{hotel.category.id}}/{{hotel.category.slug}}">{{hotel.category}}</a></li>
				  	<li class="active">{{ hotel.title }}</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="row">
				<div class="col-sm-2">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" ><!--category-productsr-->

							{% load mptt_tags %}
							{% recursetree category %}
							<div class="panel panel-default">

								<div class="panel-heading">
									<h4 class="panel-title"><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></h4>
								</div>

							</div>
							{% endrecursetree %}

							</div><!--/category-products-->


					</div>
				</div>

				<div class="col-sm-10 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-7">
							<div class="view-product">
								<img src="{{ product.image.url}}" alt="" />

							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">

										<div class="item active">
										  <a href=""><img src="{{hotel.image.url}}" style="height:370px" alt=""></a>
										</div>
										{% for rs in images %}
										<div class="item">
										  <a href=""><img src="{{rs.image.url}}" style="height:350px" alt=""></a>
										</div>
										{% endfor %}


									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-5">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h3>{{ hotel.title }}</h3>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>{{ hotel.gunluk_fiyat}} TL</span>

								</span>
								<p><b>Available Room:</b> {{hotel.oda_sayisi}}</p>
								<p><b>City:</b> {{hotel.bulundugu_ilce}} / {{hotel.bulundugu_il}}</p>
								<p><b>Description:</b> {{ hotel.description }}</p>
								<span>
									<a href="/reservation/{{user.id}}/{{hotel.id}}/{{hotel.slug}}" class="btn btn-fefault cart">Rezervasyon Yap</a>
								</span>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#reviews" data-toggle="tab">DETAILS</a></li>
							</ul>
						</div>
						<div class="tab-content">

							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<p>{{ hotel.detail | safe }}</p>
								</div>
							</div>

						</div>
					</div><!--/category-tab-->

					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended hotels</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{% for rs in recommendedhotels %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{rs.image.url}}" alt="" style="height:350px" />
													<h2>{{rs.gunluk_fiyat}}TL</h2>
													<p>{{rs.title}}</p>
													<a href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Rezervasyon Yap</a>
												</div>

											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="item">
									{% for rs in recommendedhotels %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{rs.image.url}}" alt="" style="height:350px" />
													<h2>{{rs.gunluk_fiyat}}TL</h2>
													<p>{{rs.title}}</p>
													<a href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Rezervasyon Yap</a>
												</div>

											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->

				</div>
			</div>
		</div>
	</section>


    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>

{% endblock %}
