{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} Index Sayfası anahtar kelimeler{% endblock %}
{% block description %} Index Sayfası açıklama {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>

{% endblock %}

{% block header %}
<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +90 167 738 93</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@ehotel.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://tr-tr.facebook.com/otelzcom"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/otelzcom?lang=en"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{{setting.instagram}}"><i class="fa fa-instagram"></i></a></li>

{% endblock %}
{% block slider %}{% include "slider.html" %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% include "content.html" %}{% endblock %}
