{% extends "homebase.html" %}

{% block title %} SIGNUP {% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" role="alert">
									{{message}}
								</div>
							{% endfor %}
						{% endif %}
						<form method="POST">
							{% csrf_token %}
							{% for field in form %}
								<p>
									{{field.label_tag }}<br>
									{{field}}
									{% if field.help_text%}
										<small style="color: grey">{{field.help_text }}</small>
									{%endif%}
									{% for error in field.errors %}
										<p style="color:red">{{error}}</p>
									{% endfor %}
								</p>
							{% endfor %}
							<button type="submit">Sign Up</button>

						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->



    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>

{% endblock %}
