{% load static %}
<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">

							<div class="item active">,
								{% for rs in sliderdatamain %}
								<div class="col-sm-4">
									<h1><span>E</span>-HOTEL</h1>
									<h3>Size en uygun konaklama fırsatlarına ulaşın </h3>
									<h2>{{ rs.title }}</h2>
									<a  href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default get">Otel Sayfasına Git</a>
								</div>
								<div class="col-sm-8">
									<img src="{{ rs.image.url }}" alt="" style="height:400px" />
								</div>
								{% endfor %}
							</div>

                            {% for rs in sliderdata %}
							<div class="item">
								<div class="col-sm-4">
									<h1><span>E</span>-HOTEL</h1>
									<h2>{{ rs.title }}</h2>
									<p>{{ rs.description}} </p>
									<a  href="/Hotel/{{rs.id}}/{{rs.slug}}" class="btn btn-default get">Otel Sayfasına Git</a>
								</div>
								<div class="col-sm-8">
									<img src="{{ rs.image.url }}"  alt="" style="height:400px"/>
								</div>
							</div>
                            {% endfor %}



						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/slider-->
