{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile{% endblock %}
{% block keywords %} {{ hotel.keywords }}{% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					{% include "user_panel.html" %}
				</div>
				<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Get In Touch</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
                        <div class="media" style="padding:20px">
                            <img src="{{user.userprofile.image.url}}" style="height:175px;border-radius:45px">
                        </div>
				    	<form method="post">
                            {% csrf_token %}

                            {% for field in form %}
                                <p>
                                    {{field.label_tag }}<br>
                                    {{field}}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{field.help_text}}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <button class="primary-btn" type="submit">Save Changes</button>
				        </form>
	    			</div>
	    		</div>
			</div>
		</div>
	</section>

</body>

{% endblock %}
