{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile{% endblock %}
{% block keywords %} {{ hotel.keywords }}{% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					{% include "user_panel.html" %}
				</div>
				<div class="col-sm-9">
								<div class="shopper-info">
                                    <h2 class="title text-center">CHANGE PASSWORD</h2>
                                    <div class="media" style="padding:20px">
											<img src="{{user.userprofile.image.url}}" style="height:175px;border-radius:45px">
                                    </div>
									<form action="" method="POST">
                                        {% csrf_token %}
                                        <p>Change Password</p>

                                        {% for field in form %}
                                            <p>
                                                {{field.label_tag }}<br>
                                                {{field}}
                                                {% if field.help_text %}
                                                    <small style="color: grey">{{field.help_text}}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </p>
                                        {% endfor %}

										<button type="submit" class="btn btn-primary">Update Password</button>
									</form>
								</div>
							</div>
			</div>
		</div>
	</section>

</body>

{% endblock %}
