{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile{% endblock %}
{% block keywords %} {{ hotel.keywords }}{% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					{% include "user_panel.html" %}
				</div>
				<div class="col-sm-8">
	    			<div class="contact-form">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<h2 class="title text-center">Update Profile</h2>
							<div class="status alert alert-success" style="display: none"></div>
							<div class="media" style="padding:20px">
								<img src="{{user.userprofile.image.url}}" style="height:175px;border-radius:45px">
							</div>

							<fieldset class="col-md-12">
								{{user_form.as_p}}
								{{profile_form.as_p}}
							</fieldset>
							<button type="submit" class="btn btn-outline-info">Update</button>

				        </form>
	    			</div>
	    		</div>
			</div>
		</div>
	</section>

</body>

{% endblock %}
