{% extends "homebase.html" %}

{% block title %} {{ user.userprofile.user_name }} Profile{% endblock %}
{% block keywords %} {{ hotel.keywords }}{% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>
{% endblock %}
{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
	<section>
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">{{ user.userprofile.user_name }}'s Profile</li>
				</ol>
			</div><!--/breadcrums-->
			<div class="row">
				<div class="col-sm-3">
					{% include "user_panel.html" %}
				</div>
				<div class="col-sm-8">
					<h2 class="title text-center">USER INFORMATION</h2>
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{message.tags}}" role="alert">
								{{message}}
							</div>
						{% endfor %}
					{% endif %}
					<table class="table table-condensed">
						<thead>
						<tr class="cart_menu">

							<th class="text-left" style="padding:20px">

								<a href="/user/update" class="btn btn-primary">Update Profile</a>

								<a href="/user/password" class="btn btn-primary">Change Password</a>
								<h6>&nbsp;</h6>

							</th>

							<td><img src="{{user.userprofile.image.url}}" style="height:300px;width:250px;padding-bottom:16px;border-radius:45px" alt=""></td>
						</tr>
						<tr>
							<th class="text-left" style="padding:9px">Name Surname</th>
							<td class="text-left"style="padding:9px">{{ user.userprofile.user_name }}</td>
						</tr>
						<tr>
							<th class="text-left"style="padding:9px">Email</th>
							<td class="text-left"style="padding:9px">{{ user.userprofile.user.email }}</td>
						</tr>
						<tr>
							<th class="text-left"style="padding:9px">Phone</th>
							<td class="text-left"style="padding:9px">{{ user.userprofile.phone }}</td>
						</tr>
						<tr>
							<th class="text-left"style="padding:9px">Address</th>
							<td class="text-left"style="padding:9px">{{ user.userprofile.address}}</td>
						</tr>
						<tr>
							<th class="text-left"style="padding:9px">City</th>
							<td class="text-left"style="padding:9px">{{ user.userprofile.city }}</td>
						</tr>
						<tr>
							<th class="text-left"style="padding:9px">Country</th>
							<td class="text-left"style="padding:9px">{{ user.userprofile.country }}</td>
						</tr>
						</thead>
						<tbody>

						</tbody>
					</table>

				</div>
			</div>
		</div>
	</section>


    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>

{% endblock %}
