<div class="brands_products"><!--brands_products-->
    <h2>USER PANEL</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/user"> <span class="text-center"></span>USER PROFILE</a></li>
            <li><a href="/user/reservations"> <span class="text-center"></span>MY RESERVATIONS</a></li>
            <li><a href=""> <span class="text-center"></span>MY COMMENTS</a></li>
            <li><a href=""> <span class="text-center"></span>MY FAVOURITES</a></li>
            <li><a href=""> <span class="text-center"></span>secenek1</a></li>
            <li><a href=""> <span class="text-center"></span>secenek2</a></li>
            <li><a href="/logout/"> <span class="pull-left"></span>LOGOUT</a></li>
        </ul>
    </div>
</div><!--/brands_products-->
