{% extends "homebase.html" %}

{% block title %} {{ user.userprofile.user_name }}'s Reservation{% endblock %}
{% block keywords %} {{ hotel.keywords }}{% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}{% endblock %}
{% block content %}

<body>
    <section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Reservation Form</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">RESERVATION FORM - {{ user.userprofile.user_name }} - {{hotel.title}} </h2>
			</div>

				<div class="shopper-informations">

					<div class="row">
							{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" role="alert">
									{{message}}
								</div>
							{% endfor %}
							{% endif %}
							<div class="col-sm-7">
								<div class="shopper-info">
									<form action="" method="POST">
										{% csrf_token %}
										<p>User Information</p>

										<h6>Hotel :</h6>
										<input type="text" name="hotel" class="input" value="{{hotel.title}}" readonly>
										<h6>Userid :</h6>
										<input type="text" name="user_id" class="input" value="{{user.id}}">
										<h6>Name :</h6>
										<input type="text" name="first_name" class="input" value="{{user.first_name}}">
										<h6>Surname :</h6>
										<input type="text" name="last_name" class="input" value="{{user.last_name}}">
										<h6>Phone :</h6>
										<input type="text" name="phone" class="input" value="{{profile.phone}}">
										<h6>Address :</h6>
										<input type="text" name="address" class="input" value="{{profile.address}}">
										<h6>City :</h6>
										<input type="text" name="city" class="input" value="{{profile.city}}">
										<h6>Country :</h6>
										<input type="text" name="country" class="input" value="{{profile.country}}"><br>
										<p>Reservation Dates</p>
										<h6>Start Date :</h6>
										<input type="date" name="startdate" value="Start">
										<h6>Finish Date :</h6>
										<input type="date" name="finishdate" value="Finish">

										<button type="submit" class="btn btn-primary">Complete Reservation</button>
									</form>
								</div>
							</div>

						<div class="col-sm-5">
							<div class="shopper-info">
								<p>Card Informations</p>

								<form>
									<h6>Name :</h6>
									<input type="text" placeholder="Company Name">
									<h6>Email :</h6>
									<input type="text" value="{{user.email}}">
									<h6>Name :</h6>
									<input type="text" placeholder="Title">
									<h6>Name :</h6>
									<input type="text" placeholder="Title">
								</form>
							</div>
						</div>
					</div>
				</div>

			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Hotel Image</td>
							<td class="description">Hotel Name</td>
							<td class="price">Daily Price</td>
							<td class="quantity">Day Count</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{hotel.image.url}}" style="height:150px;width:300px;padding:10px" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ hotel.title }}</a></h4>
								<p>{{ hotel.category}}</p>
							</td>
							<td class="cart_price">
								<p>{{ hotel.gunluk_fiyat}} TL</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{gunsayisi}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{ total }} TL</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

</body>

{% endblock %}
